# consul
spring:
  cloud:
    consul:
      host: consul
      port: 8500
      discovery:
        enabled: true
        register: true
        service-name: ${spring.application.name}
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 10s

# actuator
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

# logging
logging:
  pattern:
    console: >
      {"time":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}",
      "level":"%p",
      "service":"${spring.application.name}",
      "thread":"%t",
      "logger":"%c",
      "msg":"%m",
      "trace":"%X{traceId:-}",
      "span":"%X{spanId:-}"}%n